ops/n8n/workflows/WF_42_Jackie_Classifier.json
{
  "name": "WF_42 Jackie Classifier",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "c42-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -1280,
        300
      ],
      "webhookId": "wf42-telegram-trigger",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "BsEzRf2V5iDa2CvB",
          "name": "Telegram account PN"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json?.message?.text || '' }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $json?.message?.chat?.id || $json?.message?.from?.id || '' }}"
            },
            {
              "name": "user_id",
              "stringValue": "={{ $json?.message?.from?.id || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c42-voicetext",
      "name": "Voice or Text",
      "type": "n8n-nodes-base.set",
      "position": [
        -1080,
        300
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c42-if-empty",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.text }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c42-if",
      "name": "If text empty",
      "type": "n8n-nodes-base.if",
      "position": [
        -880,
        300
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "c42-getvoice",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -680,
        140
      ],
      "webhookId": "wf42-voice",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "BsEzRf2V5iDa2CvB",
          "name": "Telegram account PN"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "inputType": "binary",
        "options": {}
      },
      "id": "c42-transcribe",
      "name": "Transcribe",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [
        -480,
        140
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "ZBP8zcaHHlh4WAha",
          "name": "Google Gemini(PaLM) Api account PN"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Voice or Text').item.json.chat_id }}"
            },
            {
              "name": "user_id",
              "stringValue": "={{ $('Voice or Text').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c42-context",
      "name": "Prepare Context",
      "type": "n8n-nodes-base.set",
      "position": [
        -280,
        300
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Voice or Text').item.json.chat_id }}"
            },
            {
              "name": "user_id",
              "stringValue": "={{ $('Voice or Text').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c42-mergefields",
      "name": "Set transcribed text",
      "type": "n8n-nodes-base.set",
      "position": [
        -280,
        140
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM rag.start_run_for_thread(\n  '781594f6-132b-4d47-9933-6499223dbd56'::uuid,\n  '56c83308-384e-4e27-8893-2aa46b845851'::uuid,\n  'telegram',\n  '{{ $json.chat_id }}'::text,\n  'classifier',\n  ('Classifier ' || '{{ $json.chat_id }}')::text,\n  '{}'::jsonb,\n  '{}'::jsonb\n);\n",
        "options": {}
      },
      "id": "c42-startrun",
      "name": "Start Run",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -60,
        300
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "Y1VwNrsd2m68uUCQ",
          "name": "Postgres account JH"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT rag.log_event(\n  '781594f6-132b-4d47-9933-6499223dbd56'::uuid,\n  '56c83308-384e-4e27-8893-2aa46b845851'::uuid,\n  '{{ $json.conversation_id }}'::uuid,\n  '{{ $json.run_id }}'::uuid,\n  'user',\n  '{{ $('Prepare Context').item.json.user_id }}'::text,\n  'message',\n  NULL,\n  jsonb_build_object(\n    'role', 'user',\n    'text', to_jsonb('{{ $('Prepare Context').item.json.text }}'::text),\n    'channel', 'telegram',\n    'category', 'pending'\n  )\n) AS event_id;\n",
        "options": {}
      },
      "id": "c42-loguser",
      "name": "Log User Msg",
      "type": "n8n-nodes-base.postgres",
      "position": [
        160,
        300
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "Y1VwNrsd2m68uUCQ",
          "name": "Postgres account JH"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Prepare Context').item.json.chat_id }}",
        "text": "游녧 Prijato, pracuju na tom.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "c42-ack",
      "name": "Telegram Ack",
      "type": "n8n-nodes-base.telegram",
      "position": [
        380,
        300
      ],
      "webhookId": "wf42-ack",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "BsEzRf2V5iDa2CvB",
          "name": "Telegram account PN"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "mistral/mistral-large-latest"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0
        }
      },
      "id": "c42-llm-classifier",
      "name": "Classifier LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        580,
        500
      ],
      "typeVersion": 1.3,
      "credentials": {
        "openAiApi": {
          "id": "5lko0zqD9vqhajI4",
          "name": "OpenAi account JH"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $('Prepare Context').item.json.text }}",
        "categories": {
          "categories": [
            {
              "category": "MEETING",
              "description": "The user wants to create, move, cancel, or ask about a calendar event/meeting. Mentions date/time (today/tomorrow/next week), availability, scheduling, invitation, 'sch콢zka', 'meeting', 'kalend치콏', 'term칤n', 'pozv치nka', 'kdy m치m volno', 'napl치nuj'."
            },
            {
              "category": "TASK",
              "description": "The user wants to create or manage a task/reminder/todo. Mentions '칰kol', 'p콏ipome켿', 'to-do', 'deadline', 'do p치tku', 'zapi코 si', 'nezapome켿', follow-up. Not a calendar meeting."
            },
            {
              "category": "EMAIL",
              "description": "The user wants to read/summarize/search/reply/send an email. Mentions 'email', 'mail', 'po코ta', 'Gmail', 'p콏e캜ti posledn칤', 'shr켿', 'odpov캩z', 'draft', 'p콏epo코li', 'najdi email'."
            },
            {
              "category": "CHAT",
              "description": "The user asks a general question, wants to chat, asks about previous results, wants explanation, summary, advice, opinion, plan, or asks about background task results. Mentions 'co v칤코 o', 'vysv캩tli', 'shr켿', 'pora캞', 'jak칳 v칳sledek', 'co se zjistilo'. Default category when intent is clear but not MEETING/TASK/EMAIL."
            },
            {
              "category": "WEB",
              "description": "The user wants to search/browse the web, find current info, check a website, or extract info from a URL. Mentions 'vyhledej', 'najdi na internetu', 'web', '캜l치nek', 'str치nka', 'ov캩콏', 'kolik stoj칤', 'aktu치ln칤'."
            },
            {
              "category": "DEV",
              "description": "The user wants software development work: create/build an app, run spec-kit, generate code, implement features, run tests, or modify a repository. Mentions 'vytvo콏 appku', 'spec-kit', 'scaffold', 'implementuj', 'commit', 'repo', 'build', 'testy'."
            },
            {
              "category": "UNKNOWN",
              "description": "The intent is unclear or could be multiple categories. Use when not confident enough to classify into MEETING/TASK/EMAIL/CHAT/WEB/DEV."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are the Intent Classification Dispatcher for the Jackie AI system.\nYour goal is to route the user's message to the most appropriate specialized workflow.\n\nAnalyze the Input Text and select the best matching category from: {categories}\n\nRouting Guidelines:\n- 'WEB': Select this if the user asks for current news, facts, stock prices, or to search/browse the internet.\n- 'EMAIL': Select this for reading, searching, or sending emails.\n- 'DEV': Select this for programming, code generation, git, or technical tasks.\n- 'MEETING': Select this for calendar events and scheduling.\n- 'TASK': Select this for reminders and todo lists.\n- 'CHAT': Select this for general conversation, analysis, or questions NOT requiring external tools/web/email.\n\nOutput strictly JSON matching the required schema."
        }
      },
      "id": "c42-classifier",
      "name": "Classify Intent",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "position": [
        580,
        300
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rag.runs SET metadata = metadata || '{\"category\": \"MEETING\"}'::jsonb WHERE id = '{{ $('Start Run').item.json.run_id }}'::uuid;",
        "options": {}
      },
      "id": "c42-log-meeting",
      "name": "Log Category Meeting",
      "type": "n8n-nodes-base.postgres",
      "position": [900, 60],
      "typeVersion": 2.6,
      "credentials": { "postgres": { "id": "Y1VwNrsd2m68uUCQ", "name": "Postgres account JH" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rag.runs SET metadata = metadata || '{\"category\": \"TASK\"}'::jsonb WHERE id = '{{ $('Start Run').item.json.run_id }}'::uuid;",
        "options": {}
      },
      "id": "c42-log-task",
      "name": "Log Category Task",
      "type": "n8n-nodes-base.postgres",
      "position": [900, 220],
      "typeVersion": 2.6,
      "credentials": { "postgres": { "id": "Y1VwNrsd2m68uUCQ", "name": "Postgres account JH" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rag.runs SET metadata = metadata || '{\"category\": \"EMAIL\"}'::jsonb WHERE id = '{{ $('Start Run').item.json.run_id }}'::uuid;",
        "options": {}
      },
      "id": "c42-log-email",
      "name": "Log Category Email",
      "type": "n8n-nodes-base.postgres",
      "position": [900, 380],
      "typeVersion": 2.6,
      "credentials": { "postgres": { "id": "Y1VwNrsd2m68uUCQ", "name": "Postgres account JH" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rag.runs SET metadata = metadata || '{\"category\": \"CHAT\"}'::jsonb WHERE id = '{{ $('Start Run').item.json.run_id }}'::uuid;",
        "options": {}
      },
      "id": "c42-log-chat",
      "name": "Log Category Chat",
      "type": "n8n-nodes-base.postgres",
      "position": [900, 540],
      "typeVersion": 2.6,
      "credentials": { "postgres": { "id": "Y1VwNrsd2m68uUCQ", "name": "Postgres account JH" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rag.runs SET metadata = metadata || '{\"category\": \"WEB\"}'::jsonb WHERE id = '{{ $('Start Run').item.json.run_id }}'::uuid;",
        "options": {}
      },
      "id": "c42-log-web",
      "name": "Log Category Web",
      "type": "n8n-nodes-base.postgres",
      "position": [900, 700],
      "typeVersion": 2.6,
      "credentials": { "postgres": { "id": "Y1VwNrsd2m68uUCQ", "name": "Postgres account JH" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rag.runs SET metadata = metadata || '{\"category\": \"DEV\"}'::jsonb WHERE id = '{{ $('Start Run').item.json.run_id }}'::uuid;",
        "options": {}
      },
      "id": "c42-log-dev",
      "name": "Log Category Dev",
      "type": "n8n-nodes-base.postgres",
      "position": [900, 860],
      "typeVersion": 2.6,
      "credentials": { "postgres": { "id": "Y1VwNrsd2m68uUCQ", "name": "Postgres account JH" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rag.runs SET metadata = metadata || '{\"category\": \"UNKNOWN\"}'::jsonb WHERE id = '{{ $('Start Run').item.json.run_id }}'::uuid;",
        "options": {}
      },
      "id": "c42-log-unknown",
      "name": "Log Category Unknown",
      "type": "n8n-nodes-base.postgres",
      "position": [900, 1020],
      "typeVersion": 2.6,
      "credentials": { "postgres": { "id": "Y1VwNrsd2m68uUCQ", "name": "Postgres account JH" } }
    },
    {
      "id": "c42-exec-meeting",
      "name": "Execute Meeting WF",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1150,
        60
      ],
      "typeVersion": 1.2,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "WF_43 Jackie Meeting"
        },
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Prepare Context').item.json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Prepare Context').item.json.chat_id }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Start Run').item.json.conversation_id }}"
            },
            {
              "name": "run_id",
              "stringValue": "={{ $('Start Run').item.json.run_id }}"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "c42-exec-task",
      "name": "Execute Task WF",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1150,
        220
      ],
      "typeVersion": 1.2,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "WF_44 Jackie Task"
        },
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Prepare Context').item.json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Prepare Context').item.json.chat_id }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Start Run').item.json.conversation_id }}"
            },
            {
              "name": "run_id",
              "stringValue": "={{ $('Start Run').item.json.run_id }}"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "c42-exec-email",
      "name": "Execute Email WF",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1150,
        380
      ],
      "typeVersion": 1.2,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "WF_45 Jackie Email"
        },
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Prepare Context').item.json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Prepare Context').item.json.chat_id }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Start Run').item.json.conversation_id }}"
            },
            {
              "name": "run_id",
              "stringValue": "={{ $('Start Run').item.json.run_id }}"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "c42-exec-chat",
      "name": "Execute Chat WF",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1150,
        540
      ],
      "typeVersion": 1.2,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "WF_46 Jackie Chat"
        },
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Prepare Context').item.json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Prepare Context').item.json.chat_id }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Start Run').item.json.conversation_id }}"
            },
            {
              "name": "run_id",
              "stringValue": "={{ $('Start Run').item.json.run_id }}"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "c42-exec-web",
      "name": "Execute Web WF",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1150,
        700
      ],
      "typeVersion": 1.2,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "WF_48 Jackie Web"
        },
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Prepare Context').item.json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Prepare Context').item.json.chat_id }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Start Run').item.json.conversation_id }}"
            },
            {
              "name": "run_id",
              "stringValue": "={{ $('Start Run').item.json.run_id }}"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "c42-exec-spec",
      "name": "Execute SpecKit WF",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1150,
        860
      ],
      "typeVersion": 1.2,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "WF_49 Jackie SpecKit"
        },
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Prepare Context').item.json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Prepare Context').item.json.chat_id }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Start Run').item.json.conversation_id }}"
            },
            {
              "name": "run_id",
              "stringValue": "={{ $('Start Run').item.json.run_id }}"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "c42-exec-unknown",
      "name": "Execute Clarify WF",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1150,
        1020
      ],
      "typeVersion": 1.2,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "WF_47 Jackie Clarify"
        },
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Prepare Context').item.json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Prepare Context').item.json.chat_id }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Start Run').item.json.conversation_id }}"
            },
            {
              "name": "run_id",
              "stringValue": "={{ $('Start Run').item.json.run_id }}"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT rag.log_event(\n  '781594f6-132b-4d47-9933-6499223dbd56'::uuid,\n  '56c83308-384e-4e27-8893-2aa46b845851'::uuid,\n  '{{ $('Start Run').item.json.conversation_id }}'::uuid,\n  '{{ $('Start Run').item.json.run_id }}'::uuid,\n  'n8n',\n  'ai_jackie',\n  'message',\n  NULL,\n  jsonb_build_object(\n    'role', 'assistant',\n    'text', to_jsonb('{{ ($json.output || $json.text || $json.result || \"\").toString().replace(/'/g, \"''\") }}'::text),\n    'channel', 'telegram'\n  )\n) AS event_id;\n",
        "options": {}
      },
      "id": "c42-logbot",
      "name": "Log Bot Msg",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1400,
        300
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "Y1VwNrsd2m68uUCQ",
          "name": "Postgres account JH"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT rag.finish_run(\n  '{{ $('Start Run').item.json.run_id }}'::uuid,\n  'completed',\n  NULL,\n  jsonb_build_object('category', '{{ $('Classify Intent').item.json.categorized_to || \"unknown\" }}')\n);\n",
        "options": {}
      },
      "id": "c42-finish",
      "name": "Finish Run",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1600,
        300
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "Y1VwNrsd2m68uUCQ",
          "name": "Postgres account JH"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Prepare Context').item.json.chat_id }}",
        "text": "={{ $('Log Bot Msg').item.json.output || $json.output || 'Omlouv치m se, n캩co se pokazilo.' }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "c42-reply",
      "name": "Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1800,
        300
      ],
      "webhookId": "wf42-reply",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "BsEzRf2V5iDa2CvB",
          "name": "Telegram account PN"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Voice or Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice or Text": {
      "main": [
        [
          {
            "node": "If text empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If text empty": {
      "main": [
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe": {
      "main": [
        [
          {
            "node": "Set transcribed text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set transcribed text": {
      "main": [
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context": {
      "main": [
        [
          {
            "node": "Start Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Run": {
      "main": [
        [
          {
            "node": "Log User Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log User Msg": {
      "main": [
        [
          {
            "node": "Telegram Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Ack": {
      "main": [
        [
          {
            "node": "Classify Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classifier LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Intent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classify Intent": {
      "main": [
        [
          {
            "node": "Log Category Meeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Category Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Category Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Category Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Category Web",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Category Dev",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Category Unknown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Category Meeting": {
      "main": [
        [
          {
            "node": "Execute Meeting WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Category Task": {
      "main": [
        [
          {
            "node": "Execute Task WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Category Email": {
      "main": [
        [
          {
            "node": "Execute Email WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Category Chat": {
      "main": [
        [
          {
            "node": "Execute Chat WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Category Web": {
      "main": [
        [
          {
            "node": "Execute Web WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Category Dev": {
      "main": [
        [
          {
            "node": "Execute SpecKit WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Category Unknown": {
      "main": [
        [
          {
            "node": "Execute Clarify WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Meeting WF": {
      "main": [
        [
          {
            "node": "Log Bot Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Task WF": {
      "main": [
        [
          {
            "node": "Log Bot Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Email WF": {
      "main": [
        [
          {
            "node": "Log Bot Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Chat WF": {
      "main": [
        [
          {
            "node": "Log Bot Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Web WF": {
      "main": [
        [
          {
            "node": "Log Bot Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute SpecKit WF": {
      "main": [
        [
          {
            "node": "Log Bot Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Clarify WF": {
      "main": [
        [
          {
            "node": "Log Bot Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Bot Msg": {
      "main": [
        [
          {
            "node": "Finish Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finish Run": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "5a7da51956588969891cb8fbd03e12cea4f6c23e6fdb6590eadcd26e5b4a5643"
  },
  "tags": []
}