ops/n8n/workflows/WF_48_Jackie_Web.json
{
  "name": "WF_48 Jackie Web",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "3c684534-d0e7-4cb4-b05c-a788b9aaa32e",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -1200,
        -80
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "jsCode": "const trigger = $input.first()?.json ?? {};\n\nconst text = String(trigger.text ?? '').trim();\nconst safeQuery = text.replace(/\\s+/g, ' ').trim();\n\nconst hardRules = [\n  'NEVER use or mention: curl, scraping tool, sandbox limitations, nemám přístup k webu.',\n  'NEVER output generic troubleshooting like: \\\"Zkontroluj, zda je spuštěná brána OpenClaw\\\" or \\\"openclaw gateway start\\\".',\n  'If the browser tool is unavailable in your environment/policy, output EXACTLY: BROWSER_TOOL_UNAVAILABLE (no other text).',\n];\n\nconst strictToolingRules = [\n  'Use ONLY the built-in browser navigation (open pages, click, scroll, read).',\n  'Do NOT use exec/shell, python, pip, Botasaurus, web-utils, scripts, or any scraping code.',\n  'If a page blocks access, report what you can see and stop.',\n];\n\nconst tools = [\n  'You MUST use the browser tool (OpenClaw-managed browser).',\n  'Do NOT use web_search.',\n];\n\nconst outputFormat = [\n  'Return the top 5 results. For each: title, absolute URL, and 1-sentence Czech summary.',\n  'Reply in Czech.',\n  'If you cannot browse because browser tool is unavailable, return exactly: BROWSER_TOOL_UNAVAILABLE.',\n];\n\nconst task = safeQuery\n  ? [\n      `Find current information for: ${safeQuery}.`,\n      'If you need to search, use browser to open a public search results page (e.g. DuckDuckGo/Google) and extract results from the page.',\n    ]\n  : [\n      'Find 5 recent relevant results.',\n      'If you need to search, use browser to open a public search results page (e.g. DuckDuckGo/Google).',\n    ];\n\nconst sections = [\n  'You are Jackie (web handler).',\n  '',\n  'HARD RULES',\n  ...hardRules.map(r => `- ${r}`),\n  '',\n  'STRICT TOOLING RULES:',\n  ...strictToolingRules.map(r => `- ${r}`),\n  '',\n  'TOOLS',\n  ...tools.map(r => `- ${r}`),\n  '',\n  'TASK',\n  ...task,\n  '',\n  'OUTPUT',\n  ...outputFormat,\n];\n\nconst prompt = sections.join('\\n');\n\nreturn [\n  {\n    json: {\n      chat_id: trigger.chat_id ?? null,\n      conversation_id: trigger.conversation_id ?? null,\n      run_id: trigger.run_id ?? null,\n      prompt,\n      model: trigger.model ?? 'openclaw:main',\n    },\n  },\n];"
      },
      "id": "1170041c-b8ea-4d40-b5cb-bf779095aa39",
      "name": "Build Web Prompt",
      "type": "n8n-nodes-base.code",
      "position": [
        -288,
        -32
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://openclaw:18789/v1/responses",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $json.model }}"
            },
            {
              "name": "=input",
              "value": "={{ $json.prompt }}"
            }
          ]
        },
        "options": {}
      },
      "id": "43eae826-0ad8-405e-af19-a732508cca40",
      "name": "OpenClaw Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        48,
        -32
      ],
      "typeVersion": 4.3,
      "credentials": {
        "httpBearerAuth": {
          "id": "oXGTUfvk6a176dto",
          "name": "Bearer Auth account JH"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const trigger = $('Execute Workflow Trigger').first().json;\nconst content = ($json.output?.[0]?.content || []).map(c => c.text || '').join('\\n');\nconst output = content || JSON.stringify($json);\n\nreturn [{\n  json: {\n    output: output.slice(0, 4000),\n    chat_id: trigger.chat_id,\n    conversation_id: trigger.conversation_id,\n    run_id: trigger.run_id\n  }\n}];\n"
      },
      "id": "693542f2-2403-40e3-8af4-4a03b818103a",
      "name": "Build Output",
      "type": "n8n-nodes-base.code",
      "position": [
        368,
        -64
      ],
      "typeVersion": 2
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Build Web Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Web Prompt": {
      "main": [
        [
          {
            "node": "OpenClaw Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenClaw Request": {
      "main": [
        [
          {
            "node": "Build Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "5a7da51956588969891cb8fbd03e12cea4f6c23e6fdb6590eadcd26e5b4a5643"
  },
  "tags": []
}
