ops/n8n/workflows/WF_46_Jackie_Chat.json
{
  "name": "WF_46 Jackie Chat",
  "nodes": [
    {
      "parameters": {},
      "id": "c46-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [-600, 300],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "id": "c46-embed",
      "name": "Embed Query",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [-380, 300],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "5lko0zqD9vqhajI4",
          "name": "OpenAi account JH"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM rag.search_chunks('janagi', '{{ $json.embedding }}'::vector, 0.5, 5);",
        "options": {}
      },
      "id": "c46-search",
      "name": "Search Context",
      "type": "n8n-nodes-base.postgres",
      "position": [-160, 300],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "Y1VwNrsd2m68uUCQ",
          "name": "Postgres account JH"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  a.title,\n  LEFT(a.content_text, 500) AS content_preview,\n  a.kind,\n  a.created_at\nFROM rag.artifacts a\nWHERE a.client_id = '781594f6-132b-4d47-9933-6499223dbd56'::uuid\n  AND a.project_id = '56c83308-384e-4e27-8893-2aa46b845851'::uuid\nORDER BY a.created_at DESC\nLIMIT 5;\n",
        "options": {}
      },
      "id": "c46-artifacts",
      "name": "Load Recent Artifacts",
      "type": "n8n-nodes-base.postgres",
      "position": [60, 300],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "Y1VwNrsd2m68uUCQ",
          "name": "Postgres account JH"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, content, ts\nFROM (\n  SELECT\n    COALESCE(payload->>'role', actor_type) AS role,\n    COALESCE(\n      payload->>'text',\n      payload->>'content',\n      payload->>'message',\n      payload->>'raw'\n    ) AS content,\n    ts\n  FROM rag.events\n  WHERE conversation_id = '{{ $('Execute Workflow Trigger').item.json.conversation_id }}'::uuid\n    AND event_type = 'message'\n    AND COALESCE(payload->>'role', actor_type) IN ('user','assistant')\n    AND COALESCE(payload->>'text', payload->>'content', payload->>'message', payload->>'raw') IS NOT NULL\n  ORDER BY ts DESC\n  LIMIT 20\n) t\nORDER BY ts ASC;\n",
        "options": {}
      },
      "id": "c46-history",
      "name": "Load Chat History",
      "type": "n8n-nodes-base.postgres",
      "position": [280, 300],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "Y1VwNrsd2m68uUCQ",
          "name": "Postgres account JH"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge artifacts + history + chunks into context for the AI agent\nconst trigger = $('Execute Workflow Trigger').first().json;\nconst artifacts = $('Load Recent Artifacts').all().map(i => i.json);\nconst history = $('Load Chat History').all().map(i => i.json);\nconst chunks = $('Search Context').all().map(i => i.json);\n\n// Format history\nconst historyText = history\n  .map(r => `[${r.role}] ${r.content}`)\n  .join('\\n');\n\n// Format artifacts context\nconst artifactsText = artifacts.length > 0\n  ? artifacts.map(a => `--- ${a.kind}: ${a.title} (${a.created_at}) ---\\n${a.content_preview}`).join('\\n\\n')\n  : '(žádné artefakty)';\n\n// Format semantic knowledge\nconst knowledgeText = chunks.length > 0\n  ? chunks.map(c => `[Relevance: ${(c.similarity*100).toFixed(0)}%] ${c.content}`).join('\\n\\n')\n  : '(žádné relevantní znalosti z DB)';\n\nreturn [{\n  json: {\n    text: trigger.text,\n    chat_id: trigger.chat_id,\n    conversation_id: trigger.conversation_id,\n    run_id: trigger.run_id,\n    historyText,\n    artifactsContext: artifactsText,\n    knowledgeContext: knowledgeText\n  }\n}];\n"
      },
      "id": "c46-merge",
      "name": "Build Context",
      "type": "n8n-nodes-base.code",
      "position": [500, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are Jackie, a general-purpose assistant for the janAGI system.\n\nToday's date is {{ $today.format('yyyy-MM-dd') }} (Europe/Prague).\n\nYou have access to:\n1) Conversation history\n2) Recent artifacts (web scraping, builds)\n3) Knowledge Base (semantic search results)\n\n## KNOWLEDGE BASE (Long-term Memory)\n{{ $json.knowledgeContext }}\n\n## BACKGROUND TASK RESULTS (Artifacts)\n{{ $json.artifactsContext }}\n\n## CONVERSATION HISTORY\n{{ $json.historyText }}\n\n## RULES\n- Answer in Czech unless the user writes in English.\n- Use the Knowledge Base to answer questions about the system, rules, or past facts.\n- Be concise, professional, slightly witty.\n- If the user's request would benefit from a web search or code build, suggest: 'Tohle by šlo řešit přes hlavního Jackie bota (web search / build). Chceš to tam zadat?'\n- Never invent data. Only use what's in the artifacts, knowledge base, or conversation history."
        }
      },
      "id": "c46-agent",
      "name": "Chat AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [720, 300],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "mistral/mistral-large-latest"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "id": "c46-llm",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [620, 540],
      "typeVersion": 1.3,
      "credentials": {
        "openAiApi": {
          "id": "5lko0zqD9vqhajI4",
          "name": "OpenAi account JH"
        }
      }
    },
    {
      "parameters": {},
      "id": "c46-memory",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [820, 540],
      "typeVersion": 1.2
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          { "node": "Embed Query", "type": "main", "index": 0 }
        ]
      ]
    },
    "Embed Query": {
      "main": [
        [
          { "node": "Search Context", "type": "main", "index": 0 }
        ]
      ]
    },
    "Search Context": {
      "main": [
        [
          { "node": "Load Recent Artifacts", "type": "main", "index": 0 }
        ]
      ]
    },
    "Load Recent Artifacts": {
      "main": [
        [
          { "node": "Load Chat History", "type": "main", "index": 0 }
        ]
      ]
    },
    "Load Chat History": {
      "main": [
        [
          { "node": "Build Context", "type": "main", "index": 0 }
        ]
      ]
    },
    "Build Context": {
      "main": [
        [
          { "node": "Chat AI Agent", "type": "main", "index": 0 }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          { "node": "Chat AI Agent", "type": "ai_languageModel", "index": 0 }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          { "node": "Chat AI Agent", "type": "ai_memory", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
