ops/n8n/workflows/WF_42_Jackie_Classifier.json
{
  "name": "WF_42 Jackie Classifier",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "c9241777-c942-4f51-b5b0-191911480aac",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -1280,
        300
      ],
      "webhookId": "wf42-telegram-trigger",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "BMu2dAqBS08BeSgB",
          "name": "Telegram JH"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json?.message?.text || '' }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $json?.message?.chat?.id || $json?.message?.from?.id || '' }}"
            },
            {
              "name": "user_id",
              "stringValue": "={{ $json?.message?.from?.id || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7a8b9cde-1111-2222-3333-444455556666",
      "name": "Voice or Text",
      "type": "n8n-nodes-base.set",
      "position": [
        -1080,
        300
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "bfbb1837-541d-41e4-91ee-43e743cf4874",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.text }}",
              "rightValue": ""
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "9442618c-48cf-448f-b2fd-b44615b2b985",
      "name": "If text empty",
      "type": "n8n-nodes-base.if",
      "position": [
        -880,
        300
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "22166c2e-4bf5-41dd-a7f3-186af0836137",
      "name": "Get Voice File",
      "type": "n8n-nodes-base.telegram",
      "position": [
        -680,
        140
      ],
      "webhookId": "wf42-voice",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "BMu2dAqBS08BeSgB",
          "name": "Telegram JH"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-flash-latest",
          "mode": "list",
          "cachedResultName": "models/gemini-flash-latest"
        },
        "inputType": "binary",
        "options": {}
      },
      "id": "2524c72a-96a9-4d8e-b9ac-05b1b5bf72bf",
      "name": "Transcribe",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [
        -480,
        140
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "ZBP8zcaHHlh4WAha",
          "name": "Google Gemini(PaLM) Api account PN"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Voice or Text').item.json.chat_id }}"
            },
            {
              "name": "user_id",
              "stringValue": "={{ $('Voice or Text').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4e4277fd-5081-42b1-9260-76d1ba803775",
      "name": "Prepare Context",
      "type": "n8n-nodes-base.set",
      "position": [
        -280,
        300
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Voice or Text').item.json.chat_id }}"
            },
            {
              "name": "user_id",
              "stringValue": "={{ $('Voice or Text').item.json.user_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "afb26988-ca1d-44d6-aa0b-35bac6312ff4",
      "name": "Set transcribed text",
      "type": "n8n-nodes-base.set",
      "position": [
        -280,
        140
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM rag.start_run_for_thread(\n  '781594f6-132b-4d47-9933-6499223dbd56'::uuid,\n  '56c83308-384e-4e27-8893-2aa46b845851'::uuid,\n  'telegram',\n  '{{ $json.chat_id }}'::text,\n  'classifier',\n  ('Classifier ' || '{{ $json.chat_id }}')::text,\n  '{}'::jsonb,\n  '{}'::jsonb\n);\n",
        "options": {}
      },
      "id": "043b4ff0-02f2-45b4-8f5c-0d0b499ac312",
      "name": "Start Run",
      "type": "n8n-nodes-base.postgres",
      "position": [
        -60,
        300
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "Y1VwNrsd2m68uUCQ",
          "name": "Postgres account JH"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT rag.log_event(\n  '781594f6-132b-4d47-9933-6499223dbd56'::uuid,\n  '56c83308-384e-4e27-8893-2aa46b845851'::uuid,\n  '{{ $json.conversation_id }}'::uuid,\n  '{{ $json.run_id }}'::uuid,\n  'user',\n  '{{ $('Prepare Context').item.json.user_id }}'::text,\n  'message',\n  NULL,\n  jsonb_build_object(\n    'role', 'user',\n    'text', to_jsonb('{{ $('Prepare Context').item.json.text }}'::text),\n    'channel', 'telegram',\n    'category', 'pending'\n  )\n) AS event_id;\n",
        "options": {}
      },
      "id": "6314cf7c-0995-4249-9645-660ea8f5f154",
      "name": "Log User Msg",
      "type": "n8n-nodes-base.postgres",
      "position": [
        160,
        300
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "Y1VwNrsd2m68uUCQ",
          "name": "Postgres account JH"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Prepare Context').item.json.chat_id }}",
        "text": "游녧 Prijato, pracuju na tom.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "b2cf1eab-8edb-4b26-a4d5-358c90dcb561",
      "name": "Telegram Ack",
      "type": "n8n-nodes-base.telegram",
      "position": [
        380,
        300
      ],
      "webhookId": "wf42-ack",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "BMu2dAqBS08BeSgB",
          "name": "Telegram JH"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Prepare Context').item.json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Prepare Context').item.json.chat_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8401f255-026c-455c-8318-add1c83f2693",
      "name": "Restore User Context",
      "type": "n8n-nodes-base.set",
      "position": [
        480,
        300
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "id",
          "value": "mistral/mistral-large-latest"
        },
        "responsesApiEnabled": false,
        "options": {
          "temperature": 0
        }
      },
      "id": "eb0a2be6-1296-431f-81f4-04a910b0c9f0",
      "name": "Classifier LLM",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        580,
        500
      ],
      "typeVersion": 1.3,
      "credentials": {
        "openAiApi": {
          "id": "5lko0zqD9vqhajI4",
          "name": "OpenAi account JH"
        }
      }
    },
    {
      "id": "7998b0b2-9c99-41d2-8047-a999c9d55c16",
      "name": "Classify Intent",
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "position": [
        580,
        300
      ],
      "typeVersion": 1.1,
      "parameters": {
        "inputText": "={{ $('Prepare Context').item.json.text }}",
        "categories": {
          "categories": [
            {
              "category": "UNKNOWN",
              "description": "The intent is unclear or could be multiple categories. Use when not confident enough to classify into MEETING/TASK/EMAIL/CHAT/WEB/DEV."
            },
            {
              "category": "MEETING",
              "description": "The user wants to create, move, cancel, or ask about a calendar event/meeting. Mentions date/time (today/tomorrow/next week), availability, scheduling, invitation, 'sch콢zka', 'meeting', 'kalend치콏', 'term칤n', 'pozv치nka', 'kdy m치m volno', 'napl치nuj'."
            },
            {
              "category": "TASK",
              "description": "The user wants to create or manage a task/reminder/todo. Mentions '칰kol', 'p콏ipome켿', 'to-do', 'deadline', 'do p치tku', 'zapi코 si', 'nezapome켿', follow-up. Not a calendar meeting."
            },
            {
              "category": "EMAIL",
              "description": "The user wants to read/summarize/search/reply/send an email. Mentions 'email', 'mail', 'po코ta', 'Gmail', 'p콏e캜ti posledn칤', 'shr켿', 'odpov캩z', 'draft', 'p콏epo코li', 'najdi email'."
            },
            {
              "category": "CHAT",
              "description": "The user asks a general question, wants to chat, asks about previous results, wants explanation, summary, advice, opinion, plan, or asks about background task results. Mentions 'co v칤코 o', 'vysv캩tli', 'shr켿', 'pora캞', 'jak칳 v칳sledek', 'co se zjistilo'. Default category when intent is clear but not MEETING/TASK/EMAIL."
            },
            {
              "category": "WEB",
              "description": "The user wants to search/browse the web, find current info, check a website, or extract info from a URL. Mentions 'vyhledej', 'najdi na internetu', 'web', '캜l치nek', 'str치nka', 'ov캩콏', 'kolik stoj칤', 'aktu치ln칤'."
            },
            {
              "category": "DEV",
              "description": "The user wants software development work: create/build an app, run spec-kit, generate code, implement features, run tests, or modify a repository. Mentions 'vytvo콏 appku', 'spec-kit', 'scaffold', 'implementuj', 'commit', 'repo', 'build', 'testy'."
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You are a STRICT intent classifier for the Jackie AI system.\n\nIMPORTANT: You have NO tools. Do NOT call any tools. Do NOT include tool calls, markdown, code fences, or extra text.\n\nTask: Read the Input Text and choose exactly ONE category from: {categories}. Respond with JSON ONLY, exactly in this form: {\"category\": \"<CATEGORY>\"}.\n\nAllowed values for <CATEGORY>: UNKNOWN, MEETING, TASK, EMAIL, CHAT, WEB, DEV.\n\nGuidelines (tie-breakers):\n- MEETING: calendar events, scheduling, availability, invitations, dates/times.\n- TASK: todos/reminders, deadlines, 'p콏ipome켿', '칰kol'.\n- EMAIL: read/search/reply/send emails, Gmail, mail/po코ta.\n- WEB: browse/search current info, verify something on a website, extract from URL.\n- DEV: programming, repo changes, builds/tests, spec-kit.\n- CHAT: general questions, explanation, summary, advice; no external tools required.\n- UNKNOWN: unclear or mixed intent.\n\nIf you cannot confidently choose a category, output {\"category\": \"UNKNOWN\"}."
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rag.runs SET metadata = metadata || '{\"category\": \"MEETING\"}'::jsonb WHERE id = '{{ $('Start Run').item.json.run_id }}'::uuid;",
        "options": {}
      },
      "id": "6f000344-588f-4468-8bd4-15ae7255ebcb",
      "name": "Log Category Meeting",
      "type": "n8n-nodes-base.postgres",
      "position": [
        900,
        60
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "Y1VwNrsd2m68uUCQ",
          "name": "Postgres account JH"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rag.runs SET metadata = metadata || '{\"category\": \"TASK\"}'::jsonb WHERE id = '{{ $('Start Run').item.json.run_id }}'::uuid;",
        "options": {}
      },
      "id": "aa366989-adef-4658-9fb7-d6e8e1a36dc7",
      "name": "Log Category Task",
      "type": "n8n-nodes-base.postgres",
      "position": [
        900,
        220
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "Y1VwNrsd2m68uUCQ",
          "name": "Postgres account JH"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rag.runs SET metadata = metadata || '{\"category\": \"EMAIL\"}'::jsonb WHERE id = '{{ $('Start Run').item.json.run_id }}'::uuid;",
        "options": {}
      },
      "id": "221cb459-f0c3-4158-ab33-b2bff391a254",
      "name": "Log Category Email",
      "type": "n8n-nodes-base.postgres",
      "position": [
        900,
        380
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "Y1VwNrsd2m68uUCQ",
          "name": "Postgres account JH"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rag.runs SET metadata = metadata || '{\"category\": \"CHAT\"}'::jsonb WHERE id = '{{ $('Start Run').item.json.run_id }}'::uuid;",
        "options": {}
      },
      "id": "671347ef-dce7-4e20-98f5-d80442f8da4e",
      "name": "Log Category Chat",
      "type": "n8n-nodes-base.postgres",
      "position": [
        900,
        540
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "Y1VwNrsd2m68uUCQ",
          "name": "Postgres account JH"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rag.runs SET metadata = metadata || '{\"category\": \"WEB\"}'::jsonb WHERE id = '{{ $('Start Run').item.json.run_id }}'::uuid;",
        "options": {}
      },
      "id": "8f868be3-1af3-452c-a3cd-efe9c6606676",
      "name": "Log Category Web",
      "type": "n8n-nodes-base.postgres",
      "position": [
        900,
        700
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "Y1VwNrsd2m68uUCQ",
          "name": "Postgres account JH"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rag.runs SET metadata = metadata || '{\"category\": \"DEV\"}'::jsonb WHERE id = '{{ $('Start Run').item.json.run_id }}'::uuid;",
        "options": {}
      },
      "id": "9f84bb8a-b755-436d-976d-bd32ff8a3932",
      "name": "Log Category Dev",
      "type": "n8n-nodes-base.postgres",
      "position": [
        900,
        860
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "Y1VwNrsd2m68uUCQ",
          "name": "Postgres account JH"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE rag.runs SET metadata = metadata || '{\"category\": \"UNKNOWN\"}'::jsonb WHERE id = '{{ $('Start Run').item.json.run_id }}'::uuid;",
        "options": {}
      },
      "id": "9bef1b83-3c88-4436-bebc-c611c0ed1eaf",
      "name": "Log Category Unknown",
      "type": "n8n-nodes-base.postgres",
      "position": [
        900,
        1020
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "Y1VwNrsd2m68uUCQ",
          "name": "Postgres account JH"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Prepare Context').item.json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Prepare Context').item.json.chat_id }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Start Run').item.json.conversation_id }}"
            },
            {
              "name": "run_id",
              "stringValue": "={{ $('Start Run').item.json.run_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ebb344c0-1be3-4b4a-a57e-df00cfefff14",
      "name": "Build Meeting Input",
      "type": "n8n-nodes-base.set",
      "position": [
        1030,
        60
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Prepare Context').item.json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Prepare Context').item.json.chat_id }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Start Run').item.json.conversation_id }}"
            },
            {
              "name": "run_id",
              "stringValue": "={{ $('Start Run').item.json.run_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2508371a-6e32-4d0f-b8f6-8aa6cdf874dd",
      "name": "Build Task Input",
      "type": "n8n-nodes-base.set",
      "position": [
        1030,
        220
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Prepare Context').item.json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Prepare Context').item.json.chat_id }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Start Run').item.json.conversation_id }}"
            },
            {
              "name": "run_id",
              "stringValue": "={{ $('Start Run').item.json.run_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "dcd5e0a8-3ecb-4b38-8334-598615be3d31",
      "name": "Build Email Input",
      "type": "n8n-nodes-base.set",
      "position": [
        1030,
        380
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Prepare Context').item.json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Prepare Context').item.json.chat_id }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Start Run').item.json.conversation_id }}"
            },
            {
              "name": "run_id",
              "stringValue": "={{ $('Start Run').item.json.run_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "2fa7c511-d129-4d5c-ae53-f3609f8ebbd8",
      "name": "Build Chat Input",
      "type": "n8n-nodes-base.set",
      "position": [
        1030,
        540
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Prepare Context').item.json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Prepare Context').item.json.chat_id }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Start Run').item.json.conversation_id }}"
            },
            {
              "name": "run_id",
              "stringValue": "={{ $('Start Run').item.json.run_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "537d7772-3afa-4585-ac6a-652405a5cf2c",
      "name": "Build Web Input",
      "type": "n8n-nodes-base.set",
      "position": [
        1030,
        700
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Prepare Context').item.json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Prepare Context').item.json.chat_id }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Start Run').item.json.conversation_id }}"
            },
            {
              "name": "run_id",
              "stringValue": "={{ $('Start Run').item.json.run_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "70cb9182-e1a1-46af-8872-39d2c032e4d5",
      "name": "Build Dev Input",
      "type": "n8n-nodes-base.set",
      "position": [
        1030,
        860
      ],
      "typeVersion": 3.2
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Prepare Context').item.json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Prepare Context').item.json.chat_id }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Start Run').item.json.conversation_id }}"
            },
            {
              "name": "run_id",
              "stringValue": "={{ $('Start Run').item.json.run_id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "276d12ac-e82c-491f-a737-2c9054dd8e47",
      "name": "Build Unknown Input",
      "type": "n8n-nodes-base.set",
      "position": [
        1030,
        1020
      ],
      "typeVersion": 3.2
    },
    {
      "id": "d4aba2b4-02b6-4b0a-b4f3-dcfc8742ef11",
      "name": "Execute Meeting WF",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1150,
        60
      ],
      "typeVersion": 1.2,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "WF_43 Jackie Meeting"
        },
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Prepare Context').item.json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Prepare Context').item.json.chat_id }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Start Run').item.json.conversation_id }}"
            },
            {
              "name": "run_id",
              "stringValue": "={{ $('Start Run').item.json.run_id }}"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "5e771fea-1879-4922-968d-fa648b5577b1",
      "name": "Execute Task WF",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1150,
        220
      ],
      "typeVersion": 1.2,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "WF_44 Jackie Task"
        },
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Prepare Context').item.json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Prepare Context').item.json.chat_id }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Start Run').item.json.conversation_id }}"
            },
            {
              "name": "run_id",
              "stringValue": "={{ $('Start Run').item.json.run_id }}"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "c58f5438-d137-4c24-b19b-47be05370c3e",
      "name": "Execute Email WF",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1150,
        380
      ],
      "typeVersion": 1.2,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "WF_45 Jackie Email"
        },
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Prepare Context').item.json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Prepare Context').item.json.chat_id }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Start Run').item.json.conversation_id }}"
            },
            {
              "name": "run_id",
              "stringValue": "={{ $('Start Run').item.json.run_id }}"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "336af132-d757-4973-98fb-06acd5026670",
      "name": "Execute Chat WF",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1150,
        540
      ],
      "typeVersion": 1.2,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "WF_46 Jackie Chat"
        },
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Prepare Context').item.json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Prepare Context').item.json.chat_id }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Start Run').item.json.conversation_id }}"
            },
            {
              "name": "run_id",
              "stringValue": "={{ $('Start Run').item.json.run_id }}"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "01043bdf-b43c-4b6e-af3f-ace780cab1a6",
      "name": "Execute Web WF",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1150,
        700
      ],
      "typeVersion": 1.2,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "WF_48 Jackie Web"
        },
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Prepare Context').item.json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Prepare Context').item.json.chat_id }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Start Run').item.json.conversation_id }}"
            },
            {
              "name": "run_id",
              "stringValue": "={{ $('Start Run').item.json.run_id }}"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "d9d460c5-2b22-40d2-885b-6731d89b33cb",
      "name": "Execute SpecKit WF",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1150,
        860
      ],
      "typeVersion": 1.2,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "WF_49 Jackie SpecKit"
        },
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Prepare Context').item.json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Prepare Context').item.json.chat_id }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Start Run').item.json.conversation_id }}"
            },
            {
              "name": "run_id",
              "stringValue": "={{ $('Start Run').item.json.run_id }}"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "id": "b7743993-173b-4587-829f-f1b9c5425c08",
      "name": "Execute Clarify WF",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1150,
        1020
      ],
      "typeVersion": 1.2,
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "list",
          "value": "WF_47 Jackie Clarify"
        },
        "fields": {
          "values": [
            {
              "name": "text",
              "stringValue": "={{ $('Prepare Context').item.json.text }}"
            },
            {
              "name": "chat_id",
              "stringValue": "={{ $('Prepare Context').item.json.chat_id }}"
            },
            {
              "name": "conversation_id",
              "stringValue": "={{ $('Start Run').item.json.conversation_id }}"
            },
            {
              "name": "run_id",
              "stringValue": "={{ $('Start Run').item.json.run_id }}"
            }
          ]
        },
        "options": {
          "waitForSubWorkflow": true
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT rag.log_event(\n  '781594f6-132b-4d47-9933-6499223dbd56'::uuid,\n  '56c83308-384e-4e27-8893-2aa46b845851'::uuid,\n  '{{ $('Start Run').item.json.conversation_id }}'::uuid,\n  '{{ $('Start Run').item.json.run_id }}'::uuid,\n  'n8n',\n  'ai_jackie',\n  'message',\n  NULL,\n  jsonb_build_object(\n    'role', 'assistant',\n    'text', to_jsonb('{{ (\n  $('Execute Web WF').first()?.json?.output ||\n  $('Execute Meeting WF').first()?.json?.output ||\n  $('Execute Task WF').first()?.json?.output ||\n  $('Execute Email WF').first()?.json?.output ||\n  $('Execute Chat WF').first()?.json?.output ||\n  $('Execute SpecKit WF').first()?.json?.output ||\n  $('Execute Clarify WF').first()?.json?.output ||\n  \"\"\n).toString().replace(/'/g, \"''\") }}'::text),\n    'channel', 'telegram'\n  )\n) AS event_id;\n",
        "options": {}
      },
      "id": "5d99068c-9eed-4053-b71b-7e285ee08542",
      "name": "Log Bot Msg",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1400,
        300
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "Y1VwNrsd2m68uUCQ",
          "name": "Postgres account JH"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT rag.finish_run(\n  '{{ $('Start Run').item.json.run_id }}'::uuid,\n  'completed'\n);\n",
        "options": {}
      },
      "id": "8b910765-f9d2-499f-b7f3-6db189522580",
      "name": "Finish Run",
      "type": "n8n-nodes-base.postgres",
      "position": [
        1600,
        300
      ],
      "typeVersion": 2.6,
      "credentials": {
        "postgres": {
          "id": "Y1VwNrsd2m68uUCQ",
          "name": "Postgres account JH"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Prepare Context').item.json.chat_id }}",
        "text": "={{ ($('Execute Web WF').first()?.json?.output || $('Execute Meeting WF').first()?.json?.output || $('Execute Task WF').first()?.json?.output || $('Execute Email WF').first()?.json?.output || $('Execute Chat WF').first()?.json?.output || $('Execute SpecKit WF').first()?.json?.output || $('Execute Clarify WF').first()?.json?.output || 'Omlouv치m se, n캩co se pokazilo.') }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "ca722f2a-f1e1-4ab0-a747-856bca0ef996",
      "name": "Telegram Reply",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1800,
        300
      ],
      "webhookId": "wf42-reply",
      "typeVersion": 1.1,
      "credentials": {
        "telegramApi": {
          "id": "BMu2dAqBS08BeSgB",
          "name": "Telegram JH"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Voice or Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice or Text": {
      "main": [
        [
          {
            "node": "If text empty",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If text empty": {
      "main": [
        [
          {
            "node": "Get Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Voice File": {
      "main": [
        [
          {
            "node": "Transcribe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe": {
      "main": [
        [
          {
            "node": "Set transcribed text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set transcribed text": {
      "main": [
        [
          {
            "node": "Prepare Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context": {
      "main": [
        [
          {
            "node": "Start Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Run": {
      "main": [
        [
          {
            "node": "Log User Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log User Msg": {
      "main": [
        [
          {
            "node": "Telegram Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Ack": {
      "main": [
        [
          {
            "node": "Restore User Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore User Context": {
      "main": [
        [
          {
            "node": "Classify Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classifier LLM": {
      "ai_languageModel": [
        [
          {
            "node": "Classify Intent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Classify Intent": {
      "main": [
        [
          {
            "node": "Log Category Meeting",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Category Task",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Category Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Category Chat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Category Web",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Category Dev",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Category Unknown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    
    "Log Category Meeting": {
      "main": [
        [
          {
            "node": "Build Meeting Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Category Task": {
      "main": [
        [
          {
            "node": "Build Task Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Category Email": {
      "main": [
        [
          {
            "node": "Build Email Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Category Chat": {
      "main": [
        [
          {
            "node": "Build Chat Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Category Web": {
      "main": [
        [
          {
            "node": "Build Web Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Category Dev": {
      "main": [
        [
          {
            "node": "Build Dev Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Category Unknown": {
      "main": [
        [
          {
            "node": "Build Unknown Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Meeting Input": {
      "main": [
        [
          {
            "node": "Execute Meeting WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Task Input": {
      "main": [
        [
          {
            "node": "Execute Task WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email Input": {
      "main": [
        [
          {
            "node": "Execute Email WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Chat Input": {
      "main": [
        [
          {
            "node": "Execute Chat WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Web Input": {
      "main": [
        [
          {
            "node": "Execute Web WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dev Input": {
      "main": [
        [
          {
            "node": "Execute SpecKit WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Unknown Input": {
      "main": [
        [
          {
            "node": "Execute Clarify WF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Meeting WF": {
      "main": [
        [
          {
            "node": "Log Bot Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Task WF": {
      "main": [
        [
          {
            "node": "Log Bot Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Email WF": {
      "main": [
        [
          {
            "node": "Log Bot Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Chat WF": {
      "main": [
        [
          {
            "node": "Log Bot Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Web WF": {
      "main": [
        [
          {
            "node": "Log Bot Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute SpecKit WF": {
      "main": [
        [
          {
            "node": "Log Bot Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Clarify WF": {
      "main": [
        [
          {
            "node": "Log Bot Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Bot Msg": {
      "main": [
        [
          {
            "node": "Finish Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Finish Run": {
      "main": [
        [
          {
            "node": "Telegram Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e487ea9a-43fb-4160-b9d2-2a31ad0059be",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5a7da51956588969891cb8fbd03e12cea4f6c23e6fdb6590eadcd26e5b4a5643"
  },
  "id": "jFXXs7oB4eBeH2sJ",
  "tags": []
}
